---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { inArray } from "astro:db";
import { db, Meals } from "astro:db";
import { gte, lt, and, eq } from "drizzle-orm";

const currentDate = new Date();
const startOfCurrentWeek = new Date('2024-03-25')
const endOfCurrentWeek = new Date('2024-03-31')

const meals = await db.select().from(Meals).where(and(
  gte(Meals.day, startOfCurrentWeek),
  lt(Meals.day, endOfCurrentWeek)
));

const hasData = meals.length > 0;
---

<DefaultLayout title="Home Page">
  {
    !hasData ? (
      <p>No food this week LOLSORRY</p>
    ) : (
      meals.map(({ name, meal_type, notes, macrofactor_url, day }) => {
        const options = {
          weekday: "long",
          month: "long",
          day: "numeric",
        } as any;
        const dayOfWeek = new Date(day);
        const formattedDayOfWeek = new Date(
          dayOfWeek.getUTCFullYear(),
          dayOfWeek.getUTCMonth(),
          dayOfWeek.getUTCDate()
        ).toLocaleDateString("en-US", options);
        return (
          <section class="day">
            <h2>{formattedDayOfWeek}</h2>
            <div class="meal-wrap">
                <div>
                  <h3>{meal_type}</h3>
                  <hr />
                  <h4>{name}</h4>
                  <div class="food-list">
                    <span class="food">
                      {macrofactor_url && (
                        <a href={macrofactor_url}>MacroFactor link</a>
                      )}
                    </span>
                    {notes && <p>{notes}</p>}
                  </div>
                </div>
            </div>
          </section>
        );
      })
    )
  }
</DefaultLayout>
