---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { db, Meals } from "astro:db";
import { like } from "drizzle-orm";
import { getISOWeek } from "date-fns";

interface Meal {
  name: string;
  meal_type: string;
  day?: Date;
  macrofactor_url?: string | null;
  notes?: string | null;
  week?: string | null;
  dayOfWeek?: string | null;
}

const now = new Date();
const currentWeekNumber = getISOWeek(now).toString();

const meals = await db
  .select()
  .from(Meals)
  .where(like(Meals.week, `%${currentWeekNumber}`));

const hasData = meals.length > 0;

// Group meals by dayOfWeek
const mealsByDayOfWeek: Record<string, Meal[]> = meals.reduce(
  (acc: Record<string, Meal[]>, meal: Meal) => {
    const dayOfWeek = meal.dayOfWeek;
    if (!acc[dayOfWeek]) {
      acc[dayOfWeek] = [];
    }
    acc[dayOfWeek].push(meal);
    return acc;
  },
  {}
);
---

<DefaultLayout title="Home Page">
  {
    !hasData ? (
      <p>No food this week LOLSORRY</p>
    ) : (
      Object.entries(mealsByDayOfWeek).map(([day, dayMeals]) => {
        return (
          <section class="day">
            <h2>{day}</h2>
            {dayMeals.map(({ name, meal_type, notes, macrofactor_url }) => (
              <div class="meal-wrap">
                <div>
                  <h3>{meal_type}</h3>
                  <hr />
                  <h4>{name}</h4>
                  <div class="food-list">
                    <span class="food">
                      {macrofactor_url && (
                        <a href={macrofactor_url}>MacroFactor link</a>
                      )}
                    </span>
                    {notes && <p>{notes}</p>}
                  </div>
                </div>
              </div>
            ))}
          </section>
        );
      })
    )
  }
</DefaultLayout>
